.navbar {
  background-color: #cddef0;
  margin: 0;
  max-width: none;
  flex-wrap: nowrap;
}

.navbar-container {
  margin: 0;
  min-width: -webkit-fill-available;
  height: 40px;
}

.navbar-header {
  img {
    width: 200px;
    margin-left: 20px;
  }
}

.list-users-button {
  width: 130px;
  margin: 0;
}

.list-users-link {
  text-decoration: none;
  color: #566d96;
  padding: 10px;

  &:hover{
    opacity: 0.8;
  }
}

.search-form {
  background: white;
  border-radius: 5px;
  height: 30px;
  width: 40vw;
}

.search-field {
  border: none;
  width: 92%;
  outline: none;
  color: #566d96;
}

.search-button {
  background: white;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 15px;
  padding-right: 10px;
  color: #566d96;
}
