.navbar {
  background-color: #cddef0;
  margin: 0;
  max-width: none;
  flex-wrap: nowrap;
}

.navbar-container {
  margin: 0;
  min-width: -webkit-fill-available;
  height: 40px;
}

.navbar-header {
  img {
    width: 200px;
    margin-left: 20px;
  }
}

.list-users-button {
  width: 130px;
  margin: 0;
}

.list-users-link {
  text-decoration: none;
  color: #566d96;
  padding: 10px;
}
