.followers-list.hidden#followers-list
  - user.followers.each do |follower|
    = link_to show_user_path(follower.nickname), class: "user-profile-link" do
      = render partial: 'partials/user', locals: { user: follower }
