.pagination {
  width: fit-content;
  display: flex;
  justify-content: center;
}

.page_number {
  border: solid;
  width: 30px;
  text-align: center;
  height: 30px;
  padding: 0;
  color: #566d96;
  margin: 20px 3px;
}

.next-last-page,
.previous-first-page {
  margin: 20px 3px;
  width: 120px;
}
