.followers-list .user-profile-link {
  text-decoration: none;
}

.followers-list .user-picture {
  border-radius: 50%;
  border: solid 1px #c3cce8;
}

.followers-list .user_name  {
  margin: 0;
  width: fit-content;
  padding-left: 30px;
}

.followers-list .user_nickname {
  margin: 0;
  padding-left: 30px;
}

.followers-list .user-information-text {
  padding: 25px 0 0 0;
  height: 80px;
}

.followers-list .user-information {
  height: fit-content;
}

.followers-list {
  width: fit-content;
}
