.user-list-item {
  height: 95px;
}

.view-button-container {
  padding-top: 10px;
  text-align-last: center;
  width: 200px;
  margin-top: -70px;
  margin-left: 650px;
}

.view_profile_button {
  text-decoration: none;
  color: #566d96;
  border: solid #566d96;
  padding: 10px 20px;
  border-radius: 5px;
}
