.container-fluid
  .row
    .index-sidecard
      = render 'partials/sidecard'
      .filters#filter-posts-by
        = render 'partials/filter-posts'
    .container.exterior_container
      #sort-posts-by.d-flex
        = render 'partials/sort-posts'
      .container.home_exterior_container.justify-content-start
        .col-md-12
          #posts-container
            = render partial: 'partials/posts-list'
