.home_exterior_container {
  max-width: 900px;
  margin-top: 40px;
  border: solid #c3cce8;
  border-radius: 10px;
  background: white;
  margin-left: 10px;
  height: fit-content;
  min-height: 150px;
}

.post-separation {
  width: 899px;
  margin-left: -13px;
  margin-top: 15px;
}

.no-posts {
  text-align: center;
  color: #566d96;
  margin-top: 70px;
  font-size: large;
}

.posts-icons-container {
  margin-left: 130px;

  .toggle-comments {
    margin-left: 5px;
    padding-top: 1px;
  }
}
