.exterior_container {
  max-width: 950px;
  margin-top: 40px;
  margin-left: 0;
}

.index-sidecard {
  margin-top: 45px;
  width: 370px;
}

.home_exterior_container {
  max-width: 900px;
  margin-top: 5px;
  border: solid #c3cce8;
  border-radius: 10px;
  background: white;
  margin-left: 10px;
  height: fit-content;
  min-height: 150px;
}

.order-selector-button {
  background-color: white;
  color: #566d96;
  width: 120px;
  border-radius: 5px; 
  border: solid #566d96;
  height: 40px;
  outline: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.order-by-title {
  width: 90px;
  color: #566d96;
  align-content: center;
  margin-left: 20px;
}

.order-selector {
  text-decoration: none;
  color: #566d96;
  width: 118px;
  display: block;
  height: 36px;
  padding-top: 6px;
}

.post-separation {
  width: 899px;
  margin-left: -13px;
  margin-top: 15px;
}

.no-posts {
  text-align: center;
  color: #566d96;
  margin-top: 70px;
  font-size: large;
}

.posts-icons-container {
  margin-left: 130px;

  .toggle-comments {
    margin-left: 5px;
    padding-top: 1px;
  }
}

.comment-count-container {
  width: 25px;
  margin: 0;
}

.comment-count {
  height: 20px;
  padding-top: 0;
  width: 25px;
}

.dropdown-item {
  color: #566d96;
}
