.edit-exterior-container {
  background: #ebf3fa;
}

.back-container {
  background: white;
  border: solid #c3cce8;;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  width: 700px;
  padding-bottom: 10px;
  margin-top: 3%;
}

.edit-user-exterior-container {
  background: white;
  border-right: solid #c3cce8;
  border-left: solid #c3cce8;
  border-bottom: solid #c3cce8;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 700px;

  margin-bottom: 3%;
}

.edit-title {
  color: #566d96;
  align-self: center;
  padding-bottom: 3%
}

.edit-user-form {
  margin-left: 15%;
}

.edit-label {
  color: #566d96;
}

.edit-field {
  background: #ebf3fa;
  border-radius: 5px; 
  border: solid #c3cce8;
  padding-left: 5px;
}

.current-password-box {
  padding-top: 30px;
}

.current-password-field {
  padding-left: 0;
}

.confirm-password {
  margin-left: 5%;
}

.confirm-password:focus::-webkit-input-placeholder { 
  color : transparent; 
}

.change-password-explain {
  color: #566d96;
  font-size: small;
  font-style: italic;
  margin-bottom: 0;
}

.confirm-password-error {
  margin-left: 10px;
}

.actions {
  text-align: right;
  width: 510px;
}

.update-button {
  width: 120px;
  background: #566d96;
  border: #566d96;
  color: white;
  height: 40px;
  border-radius: 5px;
  margin-top: 20px;

  &:hover{
    opacity: 0.8;
  }
}

.new-password-fields {
  padding-top: 12px;
}
