.login_exterior_container {
  margin-top: 10%;
  background-color: #ebf3fa; 
  border-radius: 2%; 
  max-width: 500px; 
  border: solid #c3cce8;
}

.login_title {
  padding: 4%;
}

.login_button {
  padding: 5%;
}

.signup_alt_button {
  margin-top: 13px;
  background: rgb(157, 157, 157);
  border: rgb(157, 157, 157);
}

.login-btn {
  width: 80px;
  background: #566d96;
  border: #566d96;
}

.login-alert{
  color: red;
  font-size: small;
}
