.login_exterior_container {
  margin-top: 10%;
  background-color: #ebf3fa; 
  border-radius: 2%; 
  max-width: 500px; 
  border: solid #c3cce8;
}

.login_title {
  padding: 4%;
  color: #566d96
}

.login-label {
  margin-left: 60px;
}

.login-fields {
  display: flex;
  width: 400px;
}

.email-login-field {
  width: 200px;
  margin-left: 80px;
}

.password-login-field {
  width: 200px;
  margin-left: 50px;
}

.remember-me-field {
  width: 300px;
  padding-left: 70px;
  padding-top: 10px;
}

.login-buttons-container {
  width: 390px;
}

.login_button {
  padding: 5%;
  padding-left: 120px;
}

.signup_alt_button {
  margin-top: 13px;
  background: rgb(157, 157, 157);
  border: rgb(157, 157, 157);
}

.login-btn {
  width: 80px;
  background: #566d96;
  border: #566d96;
}

.login-alert{
  color: red;
  font-size: small;
  margin-left: 45px;
}
