.login_exterior_container {
  margin-top: 10%;
  background-color: #ebf3fa; 
  border-radius: 2%; 
  max-width: 500px; 
  border: solid #c3cce8;
}

.login_title {
  padding: 4%;
}

.login_button {
  padding: 5%;
}

.signup_alt_button {
  padding-bottom: 5%;
}
